.list_client {
    box-shadow: 4px 3px 8px 1px #969696;
   width: 70%;
   margin-top: 15px;
   border-radius: 15px;
}
.list_client a{
    color: #4F646F;
}
.list_client a:hover{
    color: #253237;
}
.cardTitle{
    display: flex;
    justify-content: space-between;
}
